#
# Copyright (c) 2019 Brett Witherspoon
#
# SPDX-License-Identifier: Apache-2.0
#

CONFIG_ARM=y
CONFIG_SOC_SERIES_CC13X0_CC26X0=y
CONFIG_SOC_CC2650=y
CONFIG_CORTEX_M_SYSTICK=y
CONFIG_BOARD_CC2650_SENSORTAG=y

CONFIG_CC13X0_CC26X0_BOOTLOADER_ENABLE=y
CONFIG_CC13X0_CC26X0_BOOTLOADER_BACKDOOR_ENABLE=y
CONFIG_CC13X0_CC26X0_BOOTLOADER_BACKDOOR_PIN=4

CONFIG_PINMUX=y
CONFIG_GPIO=y
CONFIG_SERIAL=y

CONFIG_PRINTK=y
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y
